.info-form {
  margin-left: auto;
  display: block;
  text-align: center;
  font-size: large;
  color: #b4886b;
  font-weight: bold;
}

.info-form div {
  margin: 1%;
}

div label {
  margin-right: 1%;
}
